---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "about | ayush baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>about</h2>
    <p>a junior studying computer science at georgia tech</p>
    <p>things i'm involved with and areas of interest:</p>
    <ul>
        <li>tbd tbh</li>
    </ul>
</BaseLayout>