---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>About</h2>
    <p>A junior studying computer science at Georgia Tech</p>
    <p>Things I'm involved with and areas of interest:</p>
    <ul>
        <li></li>
    </ul>
</BaseLayout>