---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ayush Baweja";
---

<BaseLayout pageTitle={pageTitle}>        
    <!--<a href="/projects/">Projects</a>-->    
    <a href="/reading/">Reading</a>
    <a href="/research">Research</a>
    <!--<a href="/travel/">Travel</a>-->

    <p>I'm a junior at Georgia Tech studying computer science with concentrations in intelligence and systems and architecture,
        and potentially a minor in linguistics.</p>

    <p>My current goal is to <em>explore</em>. Broadly, I'm curious about <a href="https://www.startup.exchange/">startups</a>, rationality,
    artificial intelligence, cognitive science, robotics, graphics and philosophy.</p>

    <h2>Now</h2>
    <p>Updated July 17, 2023 from Atlanta, GA</p>
    <ul>
        <li>Understanding how compilers work and programming languages are designed through <a href="https://github.com/ayushbaweja/sicp">
        Structure and Interpretation of Computer Programs</a> and <a href="https://craftinginterpreters.com/">Crafting Interpreters</a></li>
        <li>Learning Rust by building a raytracer</li>
        <li>Thinking about how to improve collegiate entrepreneurship at <a href="https://www.startup.exchange/">Startup Exchange</a></li>
    </ul>
</BaseLayout>