---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "ayush baweja";
---

<BaseLayout pageTitle={pageTitle}>
    <a href="/about/">about</a>        
    <a href="/now/">now</a>        
    <a href="/projects/">projects</a>        
    <a href="/reading/">reading</a>
    <a href="/research">research</a>
    <a href="/travel/">travel</a>
</BaseLayout>