---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ayush Baweja";
---

<BaseLayout pageTitle={pageTitle}>        
    <!--<a href="/projects/">Projects</a>-->    
    <a href="/reading/">Reading</a>
    <a href="/research">Research</a>
    <!--<a href="/travel/">Travel</a>-->

    <p>I'm a junior at Georgia Tech studying computer science with concentrations in intelligence and theory,
        and potentially a minor in linguistics.</p>

    <p>My current goal is to <em>explore broadly</em>. Broadly, I'm curious about <a href="https://www.startup.exchange/">startups</a>, rationality,
    artificial intelligence, cognitive science, robotics, graphics and philosophy.</p>

    <h2>Now</h2>
    <p>Updated February 13, 2024 from Atlanta, GA</p>
    <ul>
        <li>Building strong foundations in linear algebra, ML and AI</li>
        <li>Improving my understanding of religion and how it intersects with science with <a href="https://cressler.ece.gatech.edu/courses/IAC3803/info/S20/Cressler%20-%20Flier%20+%20Course%20Description%20for%20S20%20IAC%202002%20Science%20and%20Religion%20Course.pdf">Professor Cressler</a></li>
        <li>Thinking about how to improve collegiate entrepreneurship at <a href="https://www.startup.exchange/">Startup Exchange</a></li>
        <li>Finding out the ins and outs of large scale events @ <a href="https://hexlabs.org/">Hexlabs</a></li>
    </ul>
</BaseLayout>
