---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ayush Baweja";
---

<BaseLayout pageTitle={pageTitle}>    
    <a href="/now/">Now</a>        
    <a href="/projects/">Projects</a>        
    <a href="/reading/">Reading</a>
    <a href="/research">Research</a>
    <a href="/travel/">Travel</a>

    <p>I'm a junior at Georgia Tech studying computer science with a concentrations in intelligence and systems and architecture,
        and potentially a minor in linguistics.</p>

    <p>My current goal is to <em>explore</em>. I'm curious about <a href="https://www.startup.exchange/">startups</a>, rationality,
    artificial intelligence and cognitive science.</p>
</BaseLayout>