---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "what i'm doing now | ayush baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>what i'm doing now</h2>
    <p>updated june 5, 2023 from atlanta, ga</p>
    <ul>
        <li>a crash course on cognitive science with professor sashank varma</li>
        <li>learning rust by building a raytracer</li>
        <li>building a workout habit</li>
    </ul>
</BaseLayout>