---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "What I'm Doing Now | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>What I'm Doing Now</h2>
    <p>Updated June 5, 2023 from Atlanta, GA</p>
    <ul>
        <li>A crash course on cognitive science with professor sashank varma</li>
        <li>building a workout habit</li>
    </ul>
</BaseLayout>