---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "projects | ayush baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>projects</h2>
    <ul>
        <li>building a raytracer in rust</li>
    </ul>
</BaseLayout>