---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Projects</h2>
    <ul>
        <li></li>
    </ul>
</BaseLayout>