---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "reading | ayush baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>reading</h2>
    <h3>currently reading</h3>
    <ul>
        <li>how to change your mind: what the new science of psychedelics teaches us about consciousness, dying, addiction, depression, and transcendence by michael pollan</li>
        <li>consider the lobster and other essays by david foster wallace</li>
    </ul>
    <h3>favorites</h3>
    <ul>
        <li>tbd</li>
    </ul>
</BaseLayout>