---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Reading | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Reading</h2>
        <h3>Currently reading</h3>
            <ul>
                <li>The Little Prince by Antoine de Saint-Exupéry</li>
                <li>Crime and Punishment by Fyodor Dostoyevsky</li>
            </ul>
        <!--<h3>Favorites</h3>
            <ul>
                <li>tbd</li>
            </ul>-->
</BaseLayout>