---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Reading | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Reading</h2>
        <h3>Currently reading</h3>
            <ul>
                <li>Fundamentals: Ten Keys to Reality by Frank Wilczek</li>
            </ul>
        <!--<h3>Favorites</h3>
            <ul>
                <li>tbd</li>
            </ul>-->
</BaseLayout>
