---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Research | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Research</h2>
    <h3>My Work</h3>
    <p>I'm currently involved with the <a href="https://www.epic.gatech.edu/">Exoskeleton and Prosthetic Intelligent Controls lab</a> at Georgia Tech
    where I work on improving machine learning models for powered prosthesis.</p>
    <h3>Some Papers I Like</h3>
    <ul>
        <li><a href="https://redirect.cs.umbc.edu/courses/471/papers/turing.pdf">Computing Machinery and Intelligence by Alan Turing</a></li>
        <li><a href="https://computationandbrain.files.wordpress.com/2021/01/hofstadter1985-variations.pdf">Variations on a Theme as the Crux of Creativity by Douglas Hofstadter</a></li>
    </ul>
</BaseLayout>