---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Research | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Research</h2>
    <h3>Some papers I like</h3>
    <ul>
        <li><a href="https://redirect.cs.umbc.edu/courses/471/papers/turing.pdf">Computing Machinery and Intelligence by Alan Turing</a></li>
    </ul>
</BaseLayout>