---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "reading | ayush baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>research</h2>
    <h3>some papers i like</h3>
    <ul>
        <li><a href="https://redirect.cs.umbc.edu/courses/471/papers/turing.pdf">computing machinery and intelligence by alan turing</a></li>
    </ul>
</BaseLayout>