---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "reading | ayush baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>research</h2>
    <h3>some papers i like</h3>
    <ul>
        <li><a href="https://watermark.silverchair.com/lix-236-433.pdf?token=AQECAHi208BE49Ooan9kkhW_Ercy7Dm3ZL_9Cf3qfKAc485ysgAAAuwwggLoBgkqhkiG9w0BBwagggLZMIIC1QIBADCCAs4GCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMVIOM8UR4_nT_ejHiAgEQgIICn7pMoNL7yOhKMxplcbuthRPjcqv4Z-wEKIa0LlX6k5lTyzOwiwFA4w00vsK_xNI1rmSThYqh5Zp22kwIlvShZ8B6mP6t7BbgOpAam6ZqxSOdTsjXwOkXCSU6sT63_VjtctZrTPQWXX8Ewdo7h7hn9k75NTLmrvlhVAIZojsqtiVZa2L9HbR-EPbP-SrrszH23VLhM1QaoXIF6fpi7LPuEZjVVbsSBHrFE8TyIBVcKwV4eXPf1UYKIGEWLTkoumE-MQ2PgfJ5Q-PSvfYVEfyS7c96pKt7C1CbZT3UDr_DE6sughvprohe30O182tnYvwz5H8LxvtpPGMcfR-L5YrZSobZbReJ8DbikMOtbKUTI6skx-2dg1z8IcKVCTPPzkQCEhOi8XyHp_ijhFslw-PzjwW_kOqXReSL51brTK358SH-UF36VmbNHmy9wS2KRe-Gw5SJ4Jj71uzjnurnVhk250OZY_4WMTfkkaxExvgp8x8oI1gHyMaUECciSu9pfnlY09FqxvOzMQf_0L6HzlBetcgzuPyVxG6p6kXZ6W8nXwMDqclH8Eda_H2GGXWUTc8TtHY0qhe2uYC5OJWBhUygzUpDCjb5_pQytxJbYQdAJnrW-EA1MUIaknRub-AkTDLgWan14nHDuZ16DGKqcDvDGyCe3rKfqRWvg4Z2qRQWvDkvTw-ifz53IcZCYikW0grFS-FW23_xQaH97LSnsqncXViERZ60vYim4uFwRcqXPNIOuJ9aMKMS2z55Jwlni-SOLQqySppHolD4BV_ujI-D3AFpbdSTV5-ZYN_fqUMubI0sFYsTm0uBcOwrYKieI0SUBH2hRBXM7GTYuAXYudk7q2gHPUGQuZ5wOtSjv-JEOzW3sTmZ139SjclEEkxc_Ge3">computing machinery and intelligence by alan turing</a></li>
    </ul>
</BaseLayout>