---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Travel | Ayush Baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Travel</h2>
    <p>I live in Atlanta, GA</p>
    <h3>Terroir</h3>
</BaseLayout>