---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "travel | ayush baweja"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>travel</h2>
    <p>i live in atlanta, ga</p>
    <h3>terroir</h3>
</BaseLayout>