---
import Social from './Social.astro';
---

<footer>
    <text>Say Hello</text>
    <Social platform="Twitter" username="bawejaayush" />
    <Social platform="Github" username="ayushbaweja" />
    <a href="mailto:hey@ayushbaweja.com">Email</a>
    <a href="https://www.goodreads.com/user/show/153799802-ayush-baweja">Goodreads</a>
</footer>