---
import Social from './Social.astro';
---

<footer>
    <text>say hello</text>
    <Social platform="twitter" username="bawejaayush" />
    <Social platform="github" username="ayushbaweja" />
    <a href="mailto:hey@ayushbaweja.com">email</a>
    <a href="https://www.goodreads.com/user/show/153799802-ayush-baweja">goodreads</a>
</footer>